html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section, div[id] {
    scroll-margin-top: 80px; /* Adjust to your navbar height */
  }
body
{
    
    color: white;
    display: flex;
    flex-direction: column;
}

.content 
{
    flex: 1; /* takes up all available space */
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom left, #1E1E1E, #121212);
}
#navbar 
{
    z-index: 2;
    top: 0;
    position: sticky;
    padding-top: 1.4%;
    padding-bottom: 2.5%!important;
    background-color: transparent;
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
    
}

#navbar.scrolled {
    background: linear-gradient(to bottom left, #1E1E1E, #121212);
    border-bottom: 0.45px solid #404040!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(20px)!important; /* for Safari */
}
#nav-header h3
{
    font-family: "Crimson Pro";
    margin-left: 25%;
    margin-top: 1.2%;
}
a
{
    font-weight: 400;
    color: white;
    text-decoration: none;
}
#nav-links a
{
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-bottom: 0.5rem!important;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}
.nav-link:hover
{
    color: #FE481C;
    border-bottom: 3px solid #FE481C!important;
}
.nav-link.active {
    color: #FE481C !important;
    border-bottom: 3px solid #FE481C!important;
}

#accent
{
    color: #FE481C;
}
#nav-links ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 1.2%;
}
#nav-links ul li 
{
    font-family: "Poppins";
    display: inline-block;
    margin-right: 13%;
}
#download-cv
{
    background-color: #FE481C;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 10pt!important;
}

#me-intro
{
    /* background-color: #e4e4e4; */
    padding-top: 3.2%;
    display: flex;
    align-items: center;
}
#me-intro #text-intro h1
{
    font-size: 50pt;
    margin-top: 18%!important;
    /* margin-left: 20%!important; */
}
#me-intro #text-intro h1, #me-intro #text-intro p
{
    font-size: 50pt;
}

#text-intro p
{
    font-size: 14.5pt;
    /* padding-left: 20%!important; */
}

#me-intro #text-intro h1, #me-intro #text-intro p,
.anchors-island
{
    margin-top: 5%!important;
    padding-left: 30%;
}

.anchors-island
{
    display: flex;
    gap: 2px;
    list-style-type: none;
}
.anchors-island a
{
    padding: 6px 10px 8px 10px;
}


#main-me
{
    height: 818px; 
    width: 730px;
}

#about
{
    background-color: #141414;
    padding-top: 70px!important;
    height: 900px!important;
}

#dl-icon
{
    display: none;
}


#about #text-intro h1
{
    font-size: 40pt;
}
#img-flex
{
    margin-top: 7%!important;
}
#img-flex img
{
    height: 440px; width: 330px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    
}

#skills .col-4
{
    background-color: #262626;
    border-radius: 15px;
    height: 230px;
    padding-top: 10px;
}
#skills .col-4 img
{
    height: 80px;
    width: 80px;
}
#skills .col-4 h4
{
    margin-top: 7%;
    font-family: "Montserrat";
}

.bi
{
    position: relative;
    font-size: 25px;
    top: 5px;
}

#about, #project
{
    height: 730px;
}

footer
{
    margin-top: auto;
    padding: 1% 2% 0.68% 4%;
    height: auto;
    border-top: 1px solid #404040;
}

#projects
{
    border: 1px solid #ffffff40;
    padding: 13px 13px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#projects img 
{
    border-radius: 3px;
    aspect-ratio: 1;
    width: 320px;
    height: 179.41px;
}

#projects:hover 
{
    cursor: pointer;
    background-color: #1A1A1A;
    transition: all 0.2s ease;
}
#projects ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#projects ul li
{
    border-radius: 5px;
    background-color: #212529;
    color: white;
    font-weight: normal;
    padding: 2px 13px;
    display: inline-block;
}

#footer {
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 1440px)
{
    html
    {
        max-width: 100%!important;
    }
    #img-main-me
    {
        padding: 0;
    }
    #main-me
    {
        height: 608px; 
        width: 500px;
    }
    #about-me-desc
    {
        text-align: justify;
    }
    #skills h4
    {
        font-size: 18pt;
    }
    #projects .col-md-8 p, #project .col-md-8 ul
    {
        font-size: 12pt!important;
        margin-left: 9%;
    }
}
@media (max-width: 1367px)
{
    #me-intro #text-intro h1, #me-intro #text-intro p,
    .anchors-island
    {
        padding-left: 20%;
    }
    #me-intro #text-intro h1, #about-me-intro #text-intro h1
    {
        font-size: 40pt;
    }
    #me-intro #text-intro p
    {
        font-size: 30pt;
    }
    #main-me
    {
        height: 608px; 
        width: 530px;
    }
    .about-me-intro
    {
        margin-top: 5%!important;
        padding: 0!important;
    }
    .about-me-intro #text-intro
    {
        width: 900px!important;
        padding: 0!important;
        /* width: fit-content; */
    }
    #skills
    {
        margin-left: -3.5%;
    }
    #skills .col-4
    {
        height: 230px;
    }
    #projects .col-md-8 p
    {
        font-size: 12pt!important;
        margin-left: 9%;
    }
}
@media (max-width: 1200px)
{
    #text-intro h2
    {
        font-size: 22pt;
    }
    #text-intro h2 p
    {
        font-size: 10pt;
    }
    #text-intro h2, p, .anchors-island, h1
    {
        padding-left: 10%!important;
    }
    #main-me
    {
        margin-left: -5%;
        height: 508px; 
        width: 390px;
    }
    #about-me-desc
    {
        text-align: justify!important;
    }
}
@media (max-width: 1025px)
{
    html
    {
        width: 100vw!important;
    }
    #nav-links ul li
    {
        
        margin-right: 10%;
    }
    #me-intro #text-intro
    {
        padding: 2rem!important;
    }
    #text-intro p
    {
        font-size: 12pt!important;
        text-align: left;
    }
    #main-me
    {
        height: 508px; 
        width: 400px;
    }
    .about-me-intro
    {
        margin-top: 5%!important;
        padding: 0!important;
    }
    .about-me-intro #text-intro
    {
        width: 900px!important;
        padding: 0!important;
        /* width: fit-content; */
    }
    #skills .col-4
    {
        height: 230px;
    }
    #projects .col-md-8 p
    {
        font-size: 12pt!important;
        margin-left: 0%;
    }
}
@media (max-width: 992px)
{
    #nav-header h3
    {
        margin-left: 5%;
    }
}
@media (max-width: 768px)
{
    #download-cv
    {
        padding-left: 12px;
        border-radius: 50%;
    }
    #dl-text
    {
        display: none;
    }
    #dl-icon
    {
        display: block;
    }
    #text-intro h1, .blurLonger
    {
        padding-left: 5%!important;
    }
    .anchors-island
    {
        padding-left: 5%!important;
    }
    #main-me
    {
        margin-left: -10%;
        height: 448px; 
        width: 395px;
    }
    #text-intro h1
    {
        margin-top: 2%!important;
        font-size: 30pt!important;
    }
    #nav-links ul li
    {
        font-size: 10pt;
        margin-left: 2%;
        /* margin-right: 0%; */
    }
    #about, #project
    {
        padding-top: 5%;
        height: 500px;
    }
    .about-me-intro #text-intro h1, .about-me-intro #text-intro p
    {
        margin-left: -4%;
    }
    #skills
    {
        margin-left: -1%;
    }
    .projects-organizer
    {
        padding: 0px 30px 0px 40px!important;
    }
    #projects img 
    {
        width: 260px;
        height: 149.41px;
    }
    #projects .col-md-8 p
    {
        margin-left: 3%;
        margin-top: 1%!important;
        margin-bottom: 1%;
    }
    #projects .col-md-8 ul
    {
        margin-left: 12%;
    }
    #about-me-desc
    {
        margin-right: 3.5%!important;
    }
}
@media (max-width: 430px)
{   
    #nav-links
    {
        display: none;
    }    
}
@media (max-width: 425px) {
    #navbar
    {
        padding-top: 3%!important;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    }
    #nav-header h3
    {
        margin-left: -1%!important;
    }
    #text-intro h2
    {
        font-size: 16pt!important;
        margin-top: 2%!important;
        margin-left: -2%!important;
    }
    #text-intro p
    {
        font-size: 9pt!important;
        margin-left: -3%!important;
    }
    #main-me
    {
        margin-top: -4%;
        height: 225px; 
        width: 230px;
    }


    #about-me
    {
        padding-top: 1%;
        height: 700px;
        max-height: 900px;
    }
    #about-me #text-intro h4
    {
        font-size: 14pt;
        margin-top: 7%!important;
        margin-left: 25%!important;
    }
    #about-me-desc
    {
        font-size: 9pt!important;
        margin-left: 10%!important;
    }
    #img-flex
    {
        margin-top: -60%!important;
        margin-left: 10%!important;
    }
    #about #text-intro h4
    {
        font-size: 14pt;
        margin-left: -2%!important;
    }
    #img-flex img
    {
        border-radius: 6px;
        height: 190px; 
        width: 140px;
    }
    #left-img
    {
        margin-left: 2%;
        
    }
    #right-img
    {
        margin-left: 3%;
        margin-top: 7%;
    }
}

@media (max-width: 420px)
{
    #main-me
    {
        height: 255px!important; 
        
    }
    .blurLonger
    {
        padding-left: 20%;
    }
}
@media (max-width: 415px)
{
    .blurLonger
    {
        padding-left: 8.5!important;
    }
}
@media (max-width: 390px)
{
    .blurLonger
    {
        padding-left: 8.5%!important;
    }
}
