.blurIn
{
    animation: transitionIn 0.75s;
    animation-timing-function: linear;
}

.blurLonger
{
    animation: transitionInLonger 1.75s;
    animation-timing-function: easelinear
}

.grandEntrance
{
    animation: entranceIn 1.55s;
    animation-timing-function: linear;
}

@keyframes transitionIn
{
    from
    {
        opacity: 0;
        transform: translateX(-1px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes transitionInLonger {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes entranceIn {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}